.sign__content {
  margin: 0px auto;
}
.sign__content a {
  text-decoration: none;
}
.sign__image {
  width: 83px;
  height: 85px;
}
.sign__title {
  text-align: center;
  border-bottom: 2px solid var(--colorBorder);
  border-top: 2px solid var(--colorBorder);
  padding: 9px 0;
  margin: 15px 0px 20px;
}
@media only screen and (min-width: 1000px) {
  .sign__image {
    width: 108px;
    height: 110px;
  }
  .sign__title {
    margin: 20px 0px;
    padding: 10px 0px;
  }
}
