:root {
  --colorBlack: #000000;
  --colorCherryMain: #a21c26;
  --colorGrey: #eeeeee;
  --colorBorder: #c4c4c4;
  --colorGreyButton: #687582;
  --colorGreySecundary: #cbcbcb;
  --colorWhite: #ffffff;
}
