.searchForm {
    font-family: Roboto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.8rem 0;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #eee;
    width: 100%;
}
.searchForm__content {
    padding: 15px;
}
.searchForm__description {
    flex: 2;
}
.searchForm__description h5 {
    display: block;
    margin: 0 0 23px;
}
.searchForm__description h5 {
    margin-bottom: 0.5rem;
}
.searchForm__form {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
}
.searchForm__form .date {
    width: 100%;
    border: solid 1px #e4e4e4;
    border-radius: 3px;
    background-color: #fff;
}
.searchForm__form .date .react-date-picker__wrapper {
    padding: 7px;
    border: none;
}
.searchForm__form button[type="submit"] {
    color: #fff;
    border-radius: 3px;
    background-color: #a21c26;
    padding: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.searchForm__form button:hover {
    background-color: #7a151c;
}

@media only screen and (min-width: 767px) {
    .searchForm__content {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .searchForm__description {
        display: block;
        text-align: left;
    }
    .searchForm__description h5 {
        display: inline;
        margin-bottom: 0;
        margin-right: 5px;
    }
    .headerSubtitle {
        display: inline;
    }
}
